

.submit{
    margin-left: 97em;
    margin-top: 30px;
    background-color: #0E4AB3;
    color: white;
    width: 110px;
    height: 27px;
    font-weight: bold;
    border: 1px solid ;
    border-radius: 8%;
}