<input
  [type]="inputType"
  class="form-control"
  id="floatingInput"
  autocomplete="off"
  [required]="inputReqValidation"
  [readonly]="inputReadonly"
  [required]="inputReqValidation"
  required

  name="inputName" 
/>
<!-- <input
  type="text"
  id="name"
  name="name"
  class="form-control"
  required
  minlength="4"
  appForbiddenName="bob"
  [(ngModel)]="hero.name"
  #name="ngModel"
/> -->

<!-- <div
  *ngIf="inputType.invalid && (inputType.touched ||inputType.touched)"
  class="alert"
>
  <div *ngIf="inputType.errors?.['required']">This field is required.</div>
 
  
</div> -->

