
<div class="main shadow-effects">
   <h5><b>Program Information </b></h5>
   <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1503.411 1">
      <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
    </svg>
    <form>
  
      <div class="col-row 12">
        <div class="row">
              <div class=" row-column col-md-2">
                   <label  for="" class="name">Date of Engagement:<span class="star">*</span>
                  
                    <app-input-field
                    [inputType]="'text'"
                     ></app-input-field>
                     </label>
                       <label  for="" class="name">Agency:<span class="star">*</span>
                  
                        <app-select></app-select><br>
                  </label>
                  <label  for="" class="name">Sponsor Liaison:<span class="star">*</span>
                  
                     <app-select></app-select><br>
                  </label>
                  <label  for="" class="name">Date Job Letter Sent:<span class="star">*</span>
                  
                     <app-input-field
                    [inputType]="'text'"
                     ></app-input-field>
                    </label>
              </div>
              <div class="row-column col-md-2">
              <label for="" class="name">GER ID Number:<span class="star">*</span>
                  
                    <app-input-field
                    [inputType]="'text'"
                    ></app-input-field>
              </label><br>
              <label  for="" class="name">Sponsor:<span class="star">*</span>
                 
               <app-select></app-select><br>
         </label>
         <label  for="" class="name">Adjustment/Consular Process:<span class="star">*</span><br>
           <input type="text" style="width:170px; height: 27px;border-radius: 4px;">
         </label><br>
              </div>
              <div class="row-column col-md-2">
              <label  for="" class="name">Current Visa:<span class="star">*</span>
                 
                       <app-select></app-select><br>
                </label>
                <label  for="" class="name">Attorney:<span class="star">*</span>
                  <app-input-field
             [inputType]="'text'"
              ></app-input-field>
                  
              </label>
              <label  for="" class="name">Level:<span class="star">*</span>
               <app-select></app-select><br>
            
           </label>
              </div>
              <div class="row-column col-md-2">
               <label  for="" class="name">Visa Program:<span class="star">*</span>
                  
                  <app-select></app-select><br>
                 </label>
                 <label  for="" class="name">Advisor:<span class="star">*</span>
                  
                  <app-select></app-select><br>
               </label>
               <label  for="" class="name">Applicant Number:<span class="star">*</span>
                  
                <app-input-field
              [inputType]="'text'"
               ></app-input-field>
            </label>
               </div>
             
          </div>      
        
      </div>
 
    </form>
 
 
 