
<div class="main shadow-effects">
  <h5><b>Personal Information </b></h5>
  <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1503.411 1">
     <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
   </svg>
   <form>
 
     <div class="col-row 12">
       <div class="row">
             <div class=" row-column col-md-2">
                  <label  for="" class="name">First Name:<span class="star">*</span>
                 
                   <app-input-field
                   [inputType]="'text'"
                    ></app-input-field>
                    </label>
                      <label  for="" class="name">Date of Birth:<span class="star">*</span>
                 
                      <app-input-field
                  [inputType]="'text'"
                  ></app-input-field>
                 </label>
                 <label  for="" class="name">Phone Number:<span class="star">*</span>
                 
                  <app-input-field
                 [inputType]="'text'"
                  ></app-input-field>
                 </label>
             </div>
             <div class="row-column col-md-2">
             <label for="" class="name">Middle Name:<span class="star">*</span>
                 
                   <app-input-field
                   [inputType]="'text'"
                   ></app-input-field>
             </label><br>
             <label  for="" class="name">Number:<span class="star">*</span>
                
              <app-input-field
            [inputType]="'text'"
             ></app-input-field>
        </label>
        <label  for="" class="name">Email Address:<span class="star">*</span><br>
          <input type="text" style="width:230px; height: 27px;border-radius: 4px;">
        </label><br>
             </div>
             <div class="row-column col-md-2">
             <label  for="" class="name">Last Name:<span class="star">*</span>
                
                   <app-input-field
                 [inputType]="'text'"
                  ></app-input-field>
               </label>
               <label  for="" class="name">Gender:<span class="star">*</span><br>
                <select >
                  <option ></option>
                  <option>Male</option>
                  <option >Female</option>
                  <option >Others</option>
                </select>
              </label><br>
             
             </div>
            
         </div>      
       
     </div>

   </form>


