<div class="main shadow-effects">
     <h5>Payment Information</h5>
     <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1503.411 1">
        <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
      </svg>
    <form action="">

     
      <div class="bix">
       
          <div class="box col-md-2 form-control">
                <div class="column">
            <svg class="key" xmlns="http://www.w3.org/2000/svg" width="40" height="70" viewBox="0 0 63.501 84.668">
                    <g id="padlock_2_" data-name="padlock (2)" transform="translate(-5 -1)">
                      <path id="Path_232" data-name="Path 232" d="M36.75,1A23.714,23.714,0,0,0,12.938,24.813V35.4A7.8,7.8,0,0,0,5,43.334v34.4a7.8,7.8,0,0,0,7.938,7.938H60.563A7.8,7.8,0,0,0,68.5,77.73v-34.4A7.8,7.8,0,0,0,60.563,35.4V24.813A23.714,23.714,0,0,0,36.75,1ZM63.209,43.334v34.4a2.5,2.5,0,0,1-2.646,2.646H12.938a2.5,2.5,0,0,1-2.646-2.646v-34.4a2.5,2.5,0,0,1,2.646-2.646H60.563A2.5,2.5,0,0,1,63.209,43.334ZM18.229,35.4V24.813a18.521,18.521,0,0,1,37.042,0V35.4Z" fill="#032e79"/>
                      <path id="Path_233" data-name="Path 233" d="M21.393,19A7.261,7.261,0,0,0,14,26.393a7.178,7.178,0,0,0,4.928,6.9v5.421a2.328,2.328,0,0,0,2.464,2.464,2.328,2.328,0,0,0,2.464-2.464V33.292a7.178,7.178,0,0,0,4.928-6.9A7.261,7.261,0,0,0,21.393,19Zm0,9.857a2.328,2.328,0,0,1-2.464-2.464,2.328,2.328,0,0,1,2.464-2.464,2.328,2.328,0,0,1,2.464,2.464A2.328,2.328,0,0,1,21.393,28.857Z" transform="translate(15.359 29.677)" fill="#032e79"/>
                    </g>
                  </svg>

                  <div class="heading">
                    <h5>Access Restricted</h5>
                  </div>
                  <div class="para">
                   <p> You do not have permission <br> to access this section. <br>
                   please contact <br> your administrator <br>to
                   request access.</p>

                   </div>
                </div>
                </div>
             

             <div class="all col-md-7">
                <div class="col-md-15">
                    <div class="row">
         
           <div class="row-column col-md-4">
            <div class="row1"> <br>
              <h5>Agreement with Liaison</h5>
              <svg xmlns="http://www.w3.org/2000/svg" class="line" width="140" height="1" viewBox="0 0 1503.411 1">
                <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
              </svg><br>
             <label class="name" for="">Total:<span class="star">*</span>
               
              </label><br>
              <app-input-field
              [inputType]="'text'"
              ></app-input-field>
               <label class="name" for="">Payment One:<span class="star">*</span>
              
             </label><br>
             <app-input-field
        [inputType]="'text'"
        ></app-input-field>
             <label class="name" for="">Payment Two:<span class="star">*</span>
               
             </label><br>
             <app-input-field
        [inputType]="'text'"
        ></app-input-field>
             <label class="name" for="">Payment Three:<span class="star">*</span>
               
             </label><br>
             <app-input-field
        [inputType]="'text'"
        ></app-input-field>
         
             <label class="name" for="">Payment Four:<span class="age">(Optional)</span><br>
             
             </label><br>
             <app-input-field
             [inputType]="'text'"
             ></app-input-field>
            </div>
            </div>
       
             <div class="row-column col-md-4"> <br>
              <h5>Agreement with Agency</h5>
              <svg xmlns="http://www.w3.org/2000/svg" class="line" width="140" height="1" viewBox="0 0 1503.411 1">
                <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
              </svg><br>
               <label class="name" for="">Total:<span class="star">*</span>
                 
               </label><br>
               <app-input-field
               [inputType]="'text'"
               ></app-input-field>
               <label class="name" for="">Payment One:<span class="star">*</span>
               
               </label><br>
               <app-input-field
        [inputType]="'text'"
        ></app-input-field>
                <label class="name" for="">Payment Two:<span class="star">*</span>
                 
                </label><br>
                <app-input-field
        [inputType]="'text'"
        ></app-input-field>
                <label class="name" for="">Payment Three:<span class="star">*</span>
                    
                </label><br>
                <app-input-field
                [inputType]="'text'"
                ></app-input-field>
             
                <label class="name" for="">Payment Four:<span class="age">(Optional)</span><br>
                   
                </label><br>
                <app-input-field
                [inputType]="'text'"
                ></app-input-field>
                </div>
       
                <div class="row-column col-md-4 "> <br>
                  <h5>Commissions to GER Advisors</h5>
              <svg xmlns="http://www.w3.org/2000/svg" class="line" width="140" height="1" viewBox="0 0 1503.411 1">
                <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
              </svg><br>
                   <label class="name" for="">Total:<span class="star">*</span>
                      
                   </label><br>
                   <app-input-field
        [inputType]="'text'"
        ></app-input-field>
                   <label class="name" for="">Payment One:<span class="star">*</span>
                     
                   </label><br>
                   <app-input-field
                   [inputType]="'text'"
                   ></app-input-field>
                   <label class="name" for="">Payment Two:<span class="star">*</span>
                  
                </label><br>
                <app-input-field
                [inputType]="'text'"
                ></app-input-field>
                <label class="name" for="">Payment Three:<span class="star">*</span>
                    
                </label><br>
                <app-input-field
                [inputType]="'text'"
                ></app-input-field>
             
                <label class="name" for="">Payment Four:<span class="age">(Optional)</span><br>
                   
                </label><br>
                <app-input-field
        [inputType]="'text'"
        ></app-input-field>
                
                    
                    </div>

           </div>
           </div>
      
         </div>
   </div>
        </form>
     </div>
      

