
<div class="main shadow-effects">
  <h5><b>Family Informationb </b></h5>
  <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1503.411 1">
     <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
   </svg>
   <form>
    <span class="radio">
      <label class="name"for="">Martial Status: <span class="star">*</span></label><br><br>
   
      <input type="radio" id="" name="fav_language" value="Single">Single 
      <input type="radio" id="" name="fav_language" value="Single">Married 
      <input type="radio" id="" name="fav_language" value="Single">Divorced 
      <input type="radio" id="" name="fav_language" value="Single">Widowed
      <input type="radio" id="" name="fav_language" value="Single">Free Union
    </span>
    <br><br>
          <div class="row">
             <div class=" row-column col-md-3">
               <label  for="" class="name">Number of Children:<span class="star">*</span>
                 
                <input type="number" class="name1" style="width: 168px; height: 27px;border-radius: 4px;">
               </label>
             </div>
          </div>
             <div class="col-row 12">
              <div class="row">
             
                <div class=" row-column col-md-2">
                 <label  for="" class="name">Child's First Name:<span class="star">*</span>
                
                  <app-input-field
                   [inputType]="'text'"
                    ></app-input-field>
                     </label><br>
                </div>
            
               <div class=" row-column col-md-2">
                 <label for="" class="name">Child's Middle Name:
                
                  <app-input-field
                  [inputType]="'text'"
                  [inputReqValidation]=true
                  ></app-input-field>
                 </label><br>
               </div>
                  <div class=" row-column col-md-2">
    
                   <label  for="" class="name">Child's Last Name:<span class="star">*</span>
            
                    <app-input-field
                    [inputType]="'text'"
                     ></app-input-field>
                   </label><br>
               </div>
    
               <div class=" row-column col-md-2">
    
                 <label  for="" class="name">Child's Date of Birth:<span class="star">*</span>
            
                  <app-input-field
                  [inputType]="'data-name'" [class]="'name1'"
                  ></app-input-field>
                  </label><br>
                </div>
                  <div class=" row-column col-md-2">
    
                    <label  for="" class="name">Child's Age:<span class="star">*</span><br>
         
                     <input type="number" class="name1" style="width: 85px; height: 27px;border-radius: 4px;">
                    </label><br>
                  </div>
            </div><br>
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
              <g id="Group_317" data-name="Group 317" transform="translate(-95 -1371)">
             <g id="Group_317-2" data-name="Group 317" transform="translate(99.982 1375.981)">
               <line id="Line_29" data-name="Line 29" y2="13.211" transform="translate(6.606)" fill="none" stroke="#0e4ab3" stroke-linecap="round" stroke-width="1"/>
               <line id="Line_30" data-name="Line 30" y2="13.211" transform="translate(13.211 6.606) rotate(90)" fill="none" stroke="#0e4ab3" stroke-linecap="round" stroke-width="1"/>
             </g>
             <g id="Rectangle_102" data-name="Rectangle 102" transform="translate(95 1371)" fill="none" stroke="#0e4ab3" stroke-width="1">
               <rect width="23" height="23" rx="7" stroke="none"/>
               <rect x="0.5" y="0.5" width="22" height="22" rx="6.5" fill="none"/>
             </g>
           </g>
         </svg>
         <label for=""> Add Another Child</label>
        
             
           </div>
        
       





