
    <div class="main shadow-effects">
     <h5><b>Background Information </b></h5>
     <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1503.411 1">
        <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
      </svg>
      <form>
    
        <div class="col-row 12">
          <div class="row">
                <div class=" row-column col-md-2">
                <label  for="" class="name">Country of Citizenship:<span class="star">*</span>
                    
                      <app-input-field
                      [inputType]="'text'"
                       ></app-input-field>
                </label>
                <label  for="" class="name">Current Residence:<span class="star">*</span><br>
                  <input type="text" style="width:200px; height: 27px;border-radius: 4px;">
                </label><br>
                </div>
                <div class="row-column col-md-2">
                <label for="" class="name">Country of Birth:<span class="star">*</span>
                    
                      <app-input-field
                      [inputType]="'text'"
                      ></app-input-field>
                </label><br>
                </div>
                <div class="row-column col-md-2">
                <label  for="" class="name">Education Level:<span class="star">*</span>
                   
                      <app-input-field
                    [inputType]="'text'"
                     ></app-input-field>
                </label>
                </div>
                <div class="display col-md-2">
                <label  for="" class="name">Career:<span class="star">*</span>
                   
                      <app-input-field
                      [inputType]="'text'"
                      ></app-input-field>
                </label>
                </div>
            </div>
            <div class="row-column col-md-3">
                
           </div>
           
          
        </div>

      </form>

 
