.main{
    margin-top: 10px;
    border-radius: 1%;
    height: 350px;
    padding-top: 20px;
    padding-left: 23px;
}

h5{
font-size: 12px;
font-weight: bold;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
}

.btn1{
height: 20px;
width: 70px;
border-radius:8%;
background-color: #A1A1A1;
color: white;
border: none;
}

.btn2{
    height:20px;
    width: 70px;
    margin-top:23px;
    border-radius:8%;
    background-color: #A1A1A1;
    color: white;
    border: none;



}
select {
    width: 250px;
    height: 27px;
    width: 168px;
    border-radius: 4px;
    border-color: #a1a1a1;
    border: 1px solid  #A1A1A1;
    margin-bottom: 10px;
}
  button,
  select {
   
    color: #0e4ab3;
    cursor: pointer;
  }
option{
    color: #A1A1A1;
    text-transform: none;
}
.row{
    gap:30px;
}

     

      

    
   


