
<div class="main shadow-effects">
     <h5><b>Immigration Information </b></h5>
    <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1503.411 1">
     <line id="Line_4" data-name="Line 4" x2="1503.411" transform="translate(0 0.5)" fill="none" stroke="#0e4ab3" stroke-width="1"/>
   </svg>
   
   <form>
 
     <div class="col-row 12">
       <div class="row">
             <div class=" row-column col-md-2">
             
              <label  for="" class="name">Adjustment/Consular Process:<span class="star">*</span>
                <select>
                      <option ></option>
                      <option value="saab">Adjustment</option>
                      <option value="opel">Consular</option>
                      <option value="audi">Udecided</option>
                    </select> 
               
              </label>

              <label  for="" class="name">Priority Date:
                  
                <app-input-field
               [inputType]="'text'"
                ></app-input-field>
              </label><br>
              </div>

             
         <div class="col-row col-md-2">
              <label  for="" class="name">LC Case #:
                  
                    <app-input-field
                    [inputType]="'text'"
                    ></app-input-field>
              </label><br>
              <label  for="" class="name">LC Approval Date:
                 
                    <app-input-field
      [inputType]="'text'"
      ></app-input-field>
              </label><br>
              </div>
          <div class="col-row col-md-2">
                <div> </div>
              <label  for="" class="name">LC Expiration Date:
                
                    <app-input-field
                    [inputType]="'text'"
                    ></app-input-field>
                   </label><br>
          </div>
          <div class="col-row col-md-3"></div>
       
          <div  class="col-row col-md-1">
            <button class="btn1"> Edit</button>
          </div>
              </div> <br>
              <div class="radio">
                <input type="radio" id="" name="fav_language" value="Single">LC Audit
                 <input type="radio" id="" name="fav_language" value="Single">LC Denied
                </div>
                 <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="1" viewBox="0 0 1497.401 1">
                    <path id="Path_234" data-name="Path 234" d="M0,0H1497.4" transform="translate(0 0.5)" fill="none" stroke="#a1a1a1" stroke-width="1"/>
                  </svg><br>
                  <div class="col-row 12">
                  <div class="row">
                        
         <div class="col-row col-md-2">
          <label  for="" class="name">1-140 Filling Date:
              
                <app-input-field
                [inputType]="'text'"
                ></app-input-field>
          </label><br>
                 
           </div>   
           <div class="col-row col-md-2">
            <label  for="" class="name">Premiun Process:
                
                  <app-input-field
                  [inputType]="'text'"
                  ></app-input-field>
            </label><br>
                   
             </div> 
             <div class="col-row col-md-2">
              <label  for="" class="name">1-140 Approval Date:
                  
                    <app-input-field
                    [inputType]="'text'"
                    ></app-input-field>
              </label><br>
                     
               </div> 
               <div class="col-row col-md-2">
                <label  for="" class="name">USCIS Case #:
                    
                      <app-input-field
                      [inputType]="'text'"
                      ></app-input-field>
                </label><br>
                       
                 </div> 
                 <div class="col-row col-md-1">
                  <button class="btn2">Get Status</button>
              </div>    
            </div> <br>
            <div class="radio">
            <input type="radio" id="" name="fav_language" value="Single">1-140 RFE
             <input type="radio" id="" name="fav_language" value="Single">1-140 Denied
          </div>
                      
             
        </div>
        
       


 


